.summary-page {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  .wrapper {
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    main {
      width: 816px;
      padding: 64px;
      padding-top: 128px;
      @media screen and (max-width: 800px) {
        width: 360px;
        padding: 32px 0;
        padding-top: 96px;
      }
      @media screen and (max-width: 365px) {
        width: 320px;
      }
      .header {
        text-align: center;
        margin-bottom: 64px;
        @media screen and (max-width: 1400px) {
          margin-bottom: 40px;
        }
        h3 {
          font-size: 24px;
          font-weight: 700;
          line-height: 36px;
          color: var(--primary-color);
          @media screen and (max-width: 800px) {
            font-size: 20px;
          }
        }

        p {
          margin-top: 8px;
          font-size: 16px;
          letter-spacing: 0.15px;
          color: var(--primar-text-color);
          @media screen and (max-width: 800px) {
            font-size: 14px;
          }
          @media screen and (max-width: 800px) {
            font-size: 12px;
            margin-top: 0;
          }
        }
      }
      .content {
        display: flex;
        flex-direction: column;
        .projects-content {
          .project-drop-down {
            margin-bottom: -20px;
            @media screen and (max-width: 800px) {
              margin-bottom: -30px;
            }
            .header {
              width: 100%;
              display: flex;
              justify-content: space-between;
              align-self: center;
              h3 {
                @media screen and (max-width: 800px) {
                  font-size: 18px;
                }
              }
              .right {
                display: flex;
                align-items: center;
                gap: 8px;
                .line {
                  width: 1px;
                  height: 16px;
                  background: #bababa;
                  @media screen and (max-width: 800px) {
                    display: none;
                  }
                }
                .arrow-icon {
                  width: 36px;
                  height: 36px;
                  color: var(--primary-color);
                  cursor: pointer;
                }
                .arrow-icon.active {
                  transform: rotate(180deg);
                }
                span {
                  font-size: 14px;
                  color: var(--primar-text-color);
                  @media screen and (max-width: 800px) {
                    display: none;
                  }
                }
                .arrow-icon {
                  width: 36px;
                  height: 36px;
                  color: var(--primary-color);
                  cursor: pointer;
                  @media screen and (max-width: 800px) {
                    width: 25px;
                    height: 25px;
                  }
                }
              }
            }
          }
        }
        .new-project {
          margin-left: 10px;
          display: flex;
          align-items: center;
          gap: 8px;
          border: none;
          background: none;
          @media screen and (max-width: 800px) {
            width: 100%;
            justify-content: center;
          }
          cursor: pointer;
          span {
            font-size: 13px;
            color: var(--primary-color);
            font-weight: 600;
          }
          .icon {
            color: var(--primary-color);
          }
        }
        .summary-drop-down {
          margin-top: 64px;
          @media screen and (max-width: 800px) {
            margin-top: 24px;
          }
        }
        .complete-setup{
          width: 100%;
          display: flex;
          justify-content: center;
          margin-top: 64px;
          @media screen and (max-width: 800px) {
            margin-top: 48px;
          }
          button{
            cursor: pointer;
             border: none;
             background: var(--primary-color);
             height: 40px;
             padding: 0 1rem;
             border-radius: 4px;
             color: var(--white);
             font-size: 14px;
             letter-spacing: 1.6px;
             font-weight: 600;
             transition: 0.4s;
             &:hover {
               opacity: 0.9;
             }
           }
        }
      }
    }
  }
}
